/* Write your CSS here */
.team-card {
  list-style-type: none;
  background-color: transparent;
  border-color: #475569;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 360px;
}
.team-logo {
  width: 60px;
  margin: 13px;
  height: 60px;
}
.team-head {
  color: #ffffff;
  font-family: Bree serif;
  font-size: 20px;
}
.link-item {
  text-decoration: auto;
}
